{% extends 'base.html' %}
{% load bootstrap5 %}
{% load humanize %}

{% block content %}
  <div class="content-font">
    <h1>{{ review.title }}</h1>
    <hr>
    <p>작성자: {{ review.user }}</p>
    <p>영화: {{ review.movie_title }}</p>
    <p>평점: {{ review.rank }}</p>
    <p>내용: {{ review.content }}</p>
    <p>작성시간: {{ review.created_at }}</p>
    <p>수정시간: {{ review.updated_at }}</p>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <form action="{% url 'community:like' review.pk %}" method="POST" class="d-inline">
        {% csrf_token %}
        <button style="font-size: 24px; border: 0; outline: 0; background-color: white;">
          {% if request.user in review.like_users.all %}
            <i class="fas fa-heart" style="color: crimson;"></i>
          {% else %}
            <i class="far fa-heart" style="color: crimson;"></i>
          {% endif %}
        </button>
      </form>
      <span class="content-font">{{ review.like_users.all|length }}명이 이 글을 좋아합니다.</span>
    </div>
    <div>
      {% if request.user == review.user %}
        <a href="{% url 'community:update' review.pk %}" class="btn btn-sm btn-primary me-1 content-font">수정</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-danger content-front" data-bs-toggle="modal" data-bs-target="#deleteModal">
          삭제
        </button>
      {% endif %}
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade content-font" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">알림</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          정말로 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">취소</button>
          <form action="{% url 'community:delete' review.pk %}" method='POST' class='d-inline'>
            {% csrf_token %}
            <input type="submit" value="삭제" class="btn btn-sm btn-danger content-font">
          </form>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <h4 class="content-font">댓글 목록</h4>
  {% if comments %}
    <p class="pt-1 content-font"><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% else %}
    <p class="text-center content-font"><b>댓글이 없습니다.</b></p>
  {% endif %}
  <ul class="list-group">
    {% for comment in comments %}
      <li class="list-group-item d-flex justify-content-between align-items-center content-font">
        {{ comment.user }} : {{ comment.content }} ({{ comment.created_at }})
        {% if request.user == comment.user %}
          <form action="{% url 'community:comment_delete' review.pk comment.pk %}" method="POST" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="삭제" class="btn btn-danger btn-sm content-font">
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h4 class="content-font">댓글 작성</h4>
  <form action="{% url 'community:comments_create' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <div class="d-flex justify-content-end mt-2">
      <input type="submit" value="작성" class="btn btn-outline-dark content-font">
    </div>
  </form>
  <hr>
  <div class="d-flex justify-content-end">
    <a href="{% url 'community:index' %}" class="btn btn-secondary content-font">BACK</a>
  </div>
{% endblock %}