<table class="table table-hover content-font">
  <thead>
    <tr class="text-center">
      <th scope="col">글번호</th>
      <th scope="col">영화</th>
      <th scope="col">평점</th>
      <th scope="col">글제목</th>
      <th scope="col">글쓴이</th>
      <th scope="col">날짜</th>
      <th scope="col">좋아요</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
      <tr>
        <th class="text-center" scope="row">{{ review.pk }}</th>
        <td class="text-center">{{ review.movie_title }}</td>
        <td class="text-center">{{ review.rank }}</td>
        <td>
          <a href="{% url 'community:detail' review.pk %}" class="text-decoration-none text-dark">{{ review.title }}</a>
          {% if review in new_reviews %}
            <span class="badge rounded-pill bg-warning">N</span>
          {% endif %}
          {% if review.comment_set.all %}
            <p class="ms-1 d-inline">[{{ review.comment_set.all|length}}]</p>
          {% endif %}
        </td>
        <td class="text-center">
          <a href="{% url 'accounts:profile' review.user.username %}" class="text-decoration-none text-dark">{{ review.user }}</a>
        </td>
        <td class="text-center">{{ review.created_at|date:"Y/m/d" }}</td>
        <td class="text-center">{{ review.like_users.all|length }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if reviews.has_previous %}                         
    <li class="page-item">
        <a class="page-link" href="?p={{ reviews.previous_page_number }}">👈</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">👈</a>
    </li>
    {% endif %}
    <li class="page-item">
        <a class="page-link text-dark" href="#">{{ reviews.number }}/{{ reviews.paginator.num_pages }}</a>
    </li>
    {% if reviews.has_next %}
    <li class="page-item">
        <a class="page-link" href="?p={{ reviews.next_page_number }}">👉</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#">👉</a>
    </li>
    {% endif %}
  </ul>
</nav>