{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-end content-font"> 
    {% if request.user != member %}
      <h1>🙋 {{ member.username }}님의 프로필</h1>
    {% else %}
      <div>
        <h1 class="d-inline me-2">🙋 내 프로필</h1>
        <a class="active btn btn-warning btn-sm content-font" aria-current="page" href="{% url 'accounts:update' %}">회원정보수정</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm content-font" data-bs-toggle="modal" data-bs-target="#deleteModal">
          회원탈퇴
        </button>
      </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">알림</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            정말로 탈퇴하시겠습니까?
          </div>
          <div class="modal-footer">
            <form action="{% url 'accounts:delete' %}" method="POST" class="d-inline">
              {% csrf_token %}
              <input type="submit" value="네" class="btn btn-secondary btn-sm content-font">
            </form>
            <button type="button" class="btn btn-primary btn-sm content-font" data-bs-dismiss="modal">아니오</button>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>팔로워 {{ member.followers.all|length }}</span>
      <span class="mx-2">|</span>
      <span class="me-2">팔로잉 {{ member.followings.all|length }}</span>
      {% if request.user != member %}
        <form action="{% url 'accounts:follow' member.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button class="btn btn-primary btn-sm">
            {% if request.user in member.followers.all %}
              팔로우 취소
            {% else %}
              팔로우
            {% endif %}
          </button>
        </form>
      {% endif %}
    </div>
  </div>
  <hr>
  {% if request.user != member %}
    <h3 class="mt-5 mb-4">📄 {{ member.username }}님이 작성한 글</h3>
  {% else %}
    <h3 class="mt-5 mb-4">📄 내가 작성한 글</h3>
  {% endif %}
  {% if reviews %}
    {% include 'accounts/table.html' %}
  {% else %}
    <br>
    <h5 class="text-center content-font">작성한 글이 없습니다.</h5>
  {% endif %}
  <br>
  <hr>
  {% if request.user != member %}
    <h3 class="mt-5 mb-4">❤️ {{ member.username }}님이 좋아요한 글</h3>
  {% else %}
    <h3 class="mt-5 mb-4">❤️ 내가 좋아요한 글</h3>
  {% endif %}
  {% if like_reviews %}
    {% include 'accounts/like_table.html' %}
  {% else %}
    <br>
    <h5 class="text-center content-font">좋아요한 글이 없습니다.</h5>
  {% endif %}
  <br>
  <hr>
{% endblock %}