{% extends 'base.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-end"> 
    {% if request.user != member %}
      <h1>{{ member.username }}님의 프로필</h1>
    {% else %}
      <h1>내 프로필</h1>
    {% endif %}
    <div>
      <span>팔로워 {{ member.followers.all|length }}</span>
      <span>|</span>
      <span>팔로잉 {{ member.followings.all|length }}</span>
      {% if request.user != member %}
        <form action="{% url 'accounts:follow' member.pk %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button>
            {% if request.user in member.followers.all %}
              팔로우 취소
            {% else %}
              팔로우
            {% endif %}
          </button>
        </form>
      {% endif %}
    </div>
  </div>
  <hr>

{% endblock %}